*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     max-width: device-compatible;
}
html{
    
    color: #555555;
    font-family: 'lato', 'Arial', sanserif;
    font-weight: 300;
    font-size: 15px;
    text-rendring: optimizelegibility;
}



header{
    position: relative;
    padding-bottom: 50px;
    background-image: linear-gradient(#000000c1,#000000c1), url('img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-height: cover;
    font-weight: 300;
    
}
.main-nav{
    position: relative;
    height: 80px;
    width: full;
    border-bottom: 2px solid #ff7300;
    background-color: #323232cb;
}

nav a:link,
nav a:visited{
    display: inline-block;
    
    float: left;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-top: 15px;
}
 
nav a:hover,
nav a:active{
     border-bottom: 1px solid #ff7300;
    color: #fff;
    padding: 5px 7px ;
}

.home{
    margin: 0;
}

a img{
    margin: 0;
    float: left;
    height: 30px;
    width: auto;
}
a p{
    float: left;
    margin-top: 7px;
}



.about:link,
.about:visited{
    position: absolute;
    left: 30%;
    padding: 5px 7px ;
    color: #ff7300;
}
.service:link,
.service:visited{
    position: absolute;
    right: 28%;
    padding: 5px 7px ;
}
.event:link,
.event:visited{
    position: absolute;
    right: 5%;
    padding: 5px 7px ;
}

.About-box{
    background-color: #ffffff;
    height: 70%;
    text-align: center;
    color: #161616;
    border-bottom: 2px solid #ff7300;
}

.About-main-text{
    Display: inline-block;
    margin-bottom: 30px;
    color: #161616;
    text-align: center;
  
    background-color: #ffffff;
    width: 80%;
    height: auto; 
    
   
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
      
}
.About-main-text h2{
    color: #161616;
    font-weight: 300; 
    margin-bottom: 20px;
    transform: uppercase;
}


.futher{
    Display: inline-block;
    margin-top: 5%;
    color: #fff;
    text-align: center;
    
    background-color: #3d3d3d;
    width: 80%;
    height: cover; 
    margin-bottom:3%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 10px;
    
}

.What-We-Do{
Display: inline-block;
   
    color: #fff;
    text-align: center;
    
    background-color: #3d3d3d;
    width: 80%;
    height: cover;  
    margin-bottom: 7%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 10px;
}
.What-We-Do h3{
    margin-bottom: 15px;
    font-weight: 300;
}
.program{
    color: #ffffff;
    text-align: center; 
}

.program h2{
    margin-top: 7%;
    margin-bottom:7%;
    font-weight: 300;
}

.btn-full:link,
.btn-full:visited {
    display: inline-block;
    padding: 10px 30px;
    color: #ff7300;
    text-decoration: none;
    font-weight: 300;
    margin-bottom: 3px;
    border: 1px solid #ff7300 ;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    font-size: 150%;
    margin-right: 15px;
}
.btn-full:hover,
.btn-full:active{
    color: #fff;   
    background-color: #bb5400;
    border: 1px solid #bb5400;
    font-size: 150%;
}

footer{
    position: relative;
    height: 90px;
    background-color: #ff7300;
    color: #fff;
    text-align: center;
}

footer p{
    display: inline-block;
    padding-top: 25px;
}
