*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     max-width: device-compatible;
     
       
}
html{
    
    color: #555555;
    font-family: 'lato', 'Arial', sanserif;
    font-weight: 300;
    font-size: 15px;
    text-rendring: optimizelegibility;
}



header{
    position: relative;
    padding-bottom:50px;
    background-size: cover;
    background-position: center;
    background-height:cover;
    font-weight: 300;
    background-image: linear-gradient(#000000c1,#000000c1), url("img/hero.jpg");
}

.main-nav{
    position: relative;
    height: 80px;
    width: full;
   background-color: #323232cb;
   border-bottom: 2px solid #ff7300;
    
}

nav a:link,
nav a:visited{
    display: inline-block;
    
    float: left;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-top: 15px;
}
 
nav a:hover,
nav a:active{
     border-bottom: 1px solid #ff7300;
    color: #fff;
    padding: 5px 7px ;
}




a img{
    margin: 0;
    float: left;
    height: 30px;
    width: auto;
}
a p{
    float: left;
    margin-top: 7px;
}



.about:link,
.about:visited{
    position: absolute;
    left: 30%;
    padding: 5px 7px ;
    color: #ffffff;
}
.service:link,
.service:visited{
    position: absolute;
    right: 28%;
    padding: 5px 7px ;
}
.event:link,
.event:visited{
    position: absolute;
    right: 5%;
    padding: 5px 7px ;
    color: #ff7300;
}
 
main{
    
    background-size: cover;
    height: 75%;
    text-align: center;
    border-bottom: 2px solid #ff7300;

}

main h2{
    color: #ffffff;
    font-weight: 300;
    
    line-spacing: 5px;
    word-spacing: 4px;
   
    padding: 10%;
}

.html img{
    width: 100px;
    padding-bottom: 5px;
}
.html{
    
    Display: inline-block;
    margin-bottom: 30px;
    color: #161616;
    text-align: center;
  
    background-color: #ffffff;
    width: 80%;
    height: auto; 
   
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    background-size: cover;
    background-color: #ffffff;
}

.css img{
    width: 80px;
    padding-bottom: 5px;
}
.css{
    
    Display: inline-block;
    margin-bottom: 30px;
    color: #161616;
    text-align: center;
  
    background-color: #ffffff;
    width: 80%;
    height: auto; 
   
   
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    background-size: cover;
    background-color: #ffffff;
}

.java img{
    width: 200px;
    padding-bottom: 5px;
}
.java{
    
    Display: inline-block;
    margin-bottom: 30px;
    color: #161616;
    text-align: center;
  
    background-color: #ffffff;
    width: 80%;
     
   
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    background-size: cover;
    background-color: #ffffff;
}

h3{
    color: #ffffff;
    font-weight: 300;
    
    line-spacing: 5px;
    word-spacing: 4px;
    tranasform: uppercase;
    padding: 9%;
    text-align: center;
}
   
.form{
    text-align: center;
    color: #ffffff;
    background-size: cover;
    
    
}

form div{
    
   margin-bottom: 5%;
}

form button{
    padding: 10px;
    width: 40%;
    border: 1px solid #ff7300;
    border-radius: 10px;
    background-color: #ff7300;
    color: #ffffff;
    
}

form input,
form textarea{
    padding: 5px;
    
}



footer{
    position: relative;
    height: 90px;
    background-color: #ff7300;
    color: #fff;
    text-align: center;
}

footer p{
    display: inline-block;
    padding-top: 25px;
}
